.profile {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

@media screen and (max-width: 591px) {
  .profile {
    width: 88.125vw;
    flex-direction: column;
    gap: 31px;
    margin-top: 42px;
  }
}
